<% provide(:title, "Create User") %>
<% provide(:intro, "新しいユーザーを作成できます") %>


<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
     <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email, class: "mt-2" %>
  <%= f.email_field :email, class: "form-control" %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit "Create User", class: "btn btn-primary mt-2 float-right" %> 
<% end %>


