<% provide(:title, "User Detail") %>
<% provide(:intro, "#{@user.name}さんの詳細ページです") %>
<div>
  <img src="<%= "/user_images/#{@user.image_name}" %>" >
  <%= @user.name %> | <%= @user.email %>
</div>
<div class="float-right">
  <%= link_to("編集",edit_user_path, class: "btn btn-info") %>
  <%= link_to("削除",user_path, {method: "delete", class: "btn btn-dark"} ) %>
</div>
