<% provide(:title, "Detail") %>

<h1><%= @post.content %></h1>
<small><%= @post.created_at %></small>
<%= link_to("一覧へ戻る",posts_path) %>
<%= link_to("編集",edit_post_path) %>
<%= link_to("削除",post_path, {method: "delete"} ) %>